<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JeoPardy</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div class="container" id="myeditor" style="text-align: center;">
        <div class="row" style="margin: 10px 0px;">
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 h6">
                <span id="date" style="margin-right: 15px;"></span><span id="time" style="font-weight: bolder;"></span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <button type="button" class="btn btn-outline-dark" id="resetGame">Reset Game</button>
                <button type="button" class="btn btn-outline-danger" id="logout">Logout</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12" style="display: inline-block; height: 530px;">
                <div id="waiting">
                    <div id="questions">
                        <div class="card" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                            <div class="card-header" style="background-color: #e2d2d2; height: fit-content;">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <h5 id="board" style="float: left;"></h5>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <h3 id="category" style="margin-left: 50px;"></h3>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <h5 id="point" style="float: right;"></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id=dailyDouble><span class="badge badge-danger" style="font-size: 20px;">*** Daily Double ***</span></div>
                                <br><br>
                                <h2 id="question"></h2><br><br><br>
                                <div id="show">
                                    <center>
                                        <button type="button" class="btn btn-primary" id="seeAns">See Answer</button>
                                        <span id="solution" style="font-weight: bold; font-size: 20px;"></span>
                                    </center>
                                </div><br>
                                <div id="answer">
                                    <form>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Answer</span>
                                            </div>
                                            <input type="text" id="msg" placeholder="Type your answer here..." class="form-control">
                                        </div>
                                        <button type="button" class="btn btn-success" id="checkAns">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" id="userList" style="display: inline-block;">
                <div id="userList" style="margin-bottom: 10px;">
                    <div class="card" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                        <div class="card-header" style="background-color: #e2d2d2; height: fit-content;">
                            <span class="card-title" style="color: black; font-weight: 500;">Users in room : </span>
                            <span id="numUser" class="card-title" style="color: black; font-weight: 500;"></span>
                        </div>
                        <div class="card-body" style="height: 240px; overflow-y:scroll;">
                            <ul id="users" class="list-group list-group-flush"></ul>
                        </div>
                    </div>
                <div id="userTracking">
                </div>
                    <div class="card" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                        <div class="card-header" style="background-color: #e2d2d2;">
                            <h6 class="card-title" style="color: black; font-weight: 500;">Users Tracking</h6>
                        </div>
                        <div class="card-body" style="height: 240px; overflow-y:scroll;">
                            <ul id="track" class="list-group list-group-flush" style="font-size: smaller;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/moment.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function() {
            var interval = setInterval(function() {
                var momentNow = moment();
                $('#date').html(momentNow.format('dddd').substring(0,3).toUpperCase() + ' - ' + momentNow.format('MMMM DD, YYYY'));  
                $('#time').html(momentNow.format('hh:mm:ss A'));
            }, 100);
        });
    </script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/client-socket.js"></script>
</body>
</html>
